body{
    background-image: url(https://estaticos-cdn.prensaiberica.es/clip/665633aa-b6f7-4df3-a3e7-7fd8825db55e_source-aspect-ratio_default_0.jpg);
background-repeat: no-repeat;
background-size: cover;
}
.question {
    margin-bottom: 20px;
}
.hidden {
    display: none;
}
#githubCat {
    display: none;
    width: 300px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#speechBubble {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    display: none;
}
#responseForm {
    margin-top: 20px;
    display: none;
}

#dockerWhale {
    display: none;
    width: 300px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#speechBubble1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to bottom, #e6ac00 0%, #ffc107 100%); /* Fondo con gradiente de color */
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
    text-align: center;
    display: none;
}



#responseForm1 {
    margin-top: 20px;
    display: none;
}

.question {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(0, 255, 217, 0.694); /* Color de fondo con transparencia */
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5), /* Sombra exterior */
                0 0 30px rgba(255, 255, 255, 0.5) inset; /* Sombra interior */
}

.question h2 {
    margin-bottom: 20px;
    color: #ffffff; /* Color del texto del título */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Sombra para resaltar el texto */
}

.question button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #f9e908; /* Color de fondo del botón */
    color: #000; /* Color del texto del botón */
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5); /* Sombra para resaltar el botón */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.question button:hover {
    background-color: #cc0000; /* Cambio de color al pasar el ratón sobre el botón */
}